<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.account">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".tongji.Yuedu"></activity>
        <activity android:name=".tabbar.setting.ActivitySet11" />
        <activity android:name=".tabbar.setting.ActivitySet10" />
        <activity android:name=".tabbar.setting.ActivitySet9" />
        <activity android:name=".tabbar.setting.ActivitySet8" />
        <activity android:name=".tabbar.setting.ActivitySet7" />
        <activity android:name=".tabbar.setting.ActivitySet6" />
        <activity android:name=".tabbar.setting.ActivitySet5" />
        <activity android:name=".tabbar.setting.ActivitySet4" />
        <activity android:name=".tabbar.setting.ActivitySet3" />
        <activity android:name=".tabbar.setting.ActivitySet2" />
        <activity android:name=".tabbar.setting.ActivitySet1" />
        <activity android:name=".tabbar.zichan.Tianjia" />
        <activity android:name=".tabbar.zichan.Zhanghu" />
        <activity android:name=".tabbar.today.Yingcang" />
        <activity android:name=".tabbar.today.Jsq" />
        <activity android:name=".tabbar.zichan.Zichan" />
        <activity android:name=".login.MainActivity" />
        <activity android:name=".tabbar.setting.Setting" />
        <activity android:name=".tabbar.today.Today" />
        <activity android:name=".tongji.Tongji" />
        <activity android:name=".login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>